rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // مؤقت للاختبار فقط: يفتح DB للعالم
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
