video::-internal-media-controls-download-button {
  display: none !important;
}

video::-webkit-media-controls-enclosure {
  overflow: hidden !important;
}

video {
  -webkit-user-drag: none;
  user-drag: none;
}
